[submodule "asf"]
	path = asf
	url = https://github.com/v2-io/agentic-systems.git
	branch = main
[submodule "logos"]
	path = logos
	url = https://github.com/v2-io/logos.git
	branch = main
[submodule "vivarium"]
	path = vivarium
	url = https://github.com/v2-io/vivarium.git
	branch = main
[submodule "proprium/INGEST/old-firmatum"]
	path = proprium/INGEST/old-firmatum
	url = https://github.com/v2-io/firmatum.git
	branch = main
[submodule "proprium/corporeum/INGEST/autopax"]
	path = proprium/corporeum/INGEST/autopax
	url = https://github.com/v2-io/autopax.git
	branch = main
[submodule "firmatum/utils/udon"]
	path = firmatum/utils/udon
	url = https://github.com/v2-io/udon.git
	branch = main
